[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CaDENCE"]
	path = CaDENCE
	url = https://github.com/cran/CaDENCE
[submodule "GEVcdn"]
	path = GEVcdn
	url = https://github.com/cran/GEVcdn
[submodule "MBC"]
	path = MBC
	url = https://github.com/cran/MBC
[submodule "monmlp"]
	path = monmlp
	url = https://github.com/cran/monmlp
[submodule "qrnn"]
	path = qrnn
	url = https://github.com/cran/qrnn
